In [1]:
len('Milena')

6

In [4]:

"O %s foi %s em %d"%("Brasil", "campeao", 2006)

'O Brasil foi campeao em 2006'

In [5]:
"Eu %s, terei %d anos para complentar o curso de %s." %("Milena", 4, "Engenharia de software")

'Eu Milena, terei 4 anos para complentar o curso de Engenharia de software.'

In [9]:
Nome = str(input("Digite seu nome: "))
uppercase_string = Nome.upper()
lowecase_string = Nome.lower()
print(uppercase_string)
print(lowecase_string)

LENA
lena

In [13]:
string = "banana"
new_string = string.replace("a", "o")
print(new_string)

bonono

In [21]:
string = "apple, banana. orange"
substring = string.split(",")
print(substring)

['apple, banana', ' orange']

In [27]:
string = "   Python "
trimmed_string = string.strip()
print(trimmed_string)

Python

In [28]:
string1 = "1234"
string2 = "Python"
isnumeric1 = string1.isnumeric()
isnumeric2 = string2.isnumeric()
print(isnumeric1)
print(isnumeric2)

True
False