In [1]:
import pandas as pd

s1 = pd.Series([10, 20, 30, 40], name='Serie1')
s2 = pd.Series([1, 2, 3, 4], name='Serie2')
s3 = pd.Series(['A', 'B', 'B', 'C'], name='Serie3')

df = pd.DataFrame(({'Serie1': s1, 'Serie2': s2, 'Serie3': s3}))

df['Soma'] = df['Serie1'] + df['Serie2']
df['Subtração'] = df['Serie1'] - df['Serie2']
df['Multiplicação'] = df['Serie1'] * df['Serie2']
df['Divisão'] = df['Serie1'] / df['Serie2']

df.groupby('Serie3')['Serie1'].mean()

Serie3
A    10.0
B    25.0
C    40.0
Name: Serie1, dtype: float64

In [19]:
num = pd.Series(range(1, 11))
display = pd.DataFrame(({'Numeros':num}))
display

   Numeros
0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10

In [16]:
num[2]

3

In [20]:
lista1 = pd.Series(range(1, 6))
lista2 = pd.Series(range(6, 11))

calcuo = pd.DataFrame(({'Lista 1': lista1, 'Lista 2': lista2}))

calcuo['Soma'] = calcuo['Lista 1'] + calcuo['Lista 2']
calcuo

   Lista 1  Lista 2  Soma
0        1        6     7
1        2        7     9
2        3        8    11
3        4        9    13
4        5       10    15

In [29]:
numeros = pd.Series(range(1, 11))
divisiveis = []

for num in numeros:
    resto = num % 5
    if resto == 0:
        divisiveis.append(num)

resultado = pd.Series(divisiveis)
resultado

0     5
1    10
dtype: int64

In [42]:
# Verificando se existem numeos duplicados
s = pd.Series([10, 20, 30, 40, 50])

print('Valores duplicados', s.duplicated().any())

Valores duplicados False

In [48]:
numebrs = pd.Series(range(1, 11))
print(numebrs[2:8])

2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64